
html{
  background-color: #13151b;
}
.el-card{
  // background: radial-gradient(ellipse at right top, #00458f8f 0%, #151419 45%, #151419 100%);
  // border: 0;
  // color: #ccc;
  // border-radius: 12px;
  // box-shadow: 0.063em 0.75em 1.563em rgba(0, 0, 0, 0.18);
}

:root {
  --el-color-primary: #151419 ;
  --el-text-color-primary:#282828
}